<section class="section-steps" id="works">
    <div class="row">
        <h2>How it works &mdash; Simple as 1, 2, 3</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 steps-box">
            <img src="assets/resources/img/Phone%20LOGO.png" alt="NoToHunger app on iPhone" class="app-screen js--wp-2">
        </div>
        <div class="col span-1-of-2 steps-box">
            <div class="works-step clearfix">
                <div>1</div>
                <p>Choose the subscription plan that best fits your needs and sign up today.</p>
            </div>
            <div class="works-step clearfix">
                <div>2</div>
                <p>Donate or Receive items using our mobile app or website. Or you can even call us!</p>
            </div>
            <div class="works-step clearfix">
                <div>3</div>
                <p>Enjoy our service after less than 20 minutes. See you the next time!</p>
            </div>

            <a href="#" class="btn-app"><img src="assets/resources/img/download-app.svg" alt="App Store Button"></a>
            <a href="#" class="btn-app"><img src="assets/resources/img/download-app-android.png" alt="Play Store Button"></a>
        </div>
    </div>
</section>
