<section class="section-testimonials">
    <div class="row">
        <h2>Our customers can't live without us</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                @NoToHunger is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
                <cite><img src="assets/resources/img/cover_bg_14.jpg">Alberto Duncan</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Sample Text!!!!
                <cite><img src="assets/resources/img/cover_bg_15.jpg">Joana Silva</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Sample Text!!!!
            <cite><img src="assets/resources/img/cover_bg_6.jpg">Milton Chapman</cite>
            </blockquote>
        </div>
    </div>
</section>

