<nav>
    <div class="row">
        <img src="assets/resources/img/logo-1.jpeg" alt="NoToHunger Logo" class="logo" style="border-radius: 80%">
        <img src="assets/resources/img/logo-1_Black.png" alt="NoToHunger Logo" class="logo-black">
        <ul class="main-nav js--main-nav">
            <li><a href="#">About US</a></li>
            <li><a href="#">Need Food?</a></li>
            <li><a href="#">Volunteer</a></li>
            <li><a href="#">Hungry For Change</a></li>
            <li><a href="#">Reseach&amp;Statistics</a></li>
            <li><a href="#">Ways To Give</a></li>
           
           

        </ul>
        <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
</nav>