<!-- Place only the html for menu here -->
    <!-- Referred the below link to create navigation bar. I have modified the theme of the navigation bar, styles during mouse hover, and styles to apply when the menu is active  -->
    <!-- https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_navbar_color&stacked=h -->
    <nav class="navbar navbar-expand-sm menubarcolor">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="#">Donate Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="donatemoney">Donate Money</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="#">My Donations</a>
            </li>
        </ul>
    </nav>
